{% extends "AppBundle:Admin:layout.html.twig" %}

{% block header %}
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#00693E">
    <tr>
      <td width="11"><img src="{{ asset('bundles/app/images/admin/fondo-tit1.gif') }}" width="11" height="57"></td>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="15">&nbsp;</td>
          <td class="titulo3">Crear o editar documento</td>
          <td width="212"><table width="212" height="27" border="0" cellpadding="0" cellspacing="0" bgcolor="#01482B">
            <tr>
              <td width="7"><img src="{{ asset('bundles/app/images/admin/fondo-menu1.gif') }}" width="7" height="27"></td>
              <td width="34"><div align="center"><img src="{{ asset('bundles/app/images/admin/ico-documentos.gif') }}" width="14" height="12"></div></td>
              <td><div align="center" class="linkverdana11BcoB">
                <div align="left"><a href="{{ path('doc_list') }}" class="linkverdana11BcoB">LISTA DE DOCUMENTOS  </a></div>
              </div></td>
              <td width="7"><img src="{{ asset('bundles/app/images/admin/fondo-menu2.gif') }}" width="7" height="27"></td>
            </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="88"><table width="88" height="27" border="0" cellpadding="0" cellspacing="0" bgcolor="#01482B">
            <tr>
              <td width="7"><img src="{{ asset('bundles/app/images/admin/fondo-menu1.gif') }}" width="7" height="27"></td>
              <td width="25"><div align="center"><img src="{{ asset('bundles/app/images/admin/ico-flecha.gif') }}" width="5" height="10"></div></td>
              <td><div align="center" class="linkverdana11BcoB">
                  <div align="left"><a href="{{ path('admin_menu') }}" class="linkverdana11BcoB">MENU</a></div>
              </div></td>
              <td width="7"><img src="{{ asset('bundles/app/images/admin/fondo-menu2.gif') }}" width="7" height="27"></td>
            </tr>
          </table></td>
          <td width="10">&nbsp;</td>
        </tr>
      </table></td>
      <td width="11"><img src="{{ asset('bundles/app/images/admin/fondo-tit2.gif') }}" width="11" height="57"></td>
    </tr>
</table>    
{% endblock header%} 


{% block body %}
{{ form_errors(form) }}    
<form action="" method="POST" enctype="multipart/form-data">
    <table width="580px" border="0" align="center" cellpadding="7" cellspacing="0">
        <tr>
          <td height="10" valign="top" class="textoBaseB">
              <div align="right">{{ form_label(form.name) }}:</div>
          </td>
          <td valign="top" class="textoBase">
              {{ form_widget(form.name) }}
          </td>
        </tr>
        <tr>
            <td height="10" valign="top" class="textoBaseB">
                <div align="right">{{ form_label(form.listado) }}:</div>
            </td>
            <td valign="top" class="textoBase">
                {{ form_widget(form.listado, {'attr': {'class': 'celda7'}}) }}
            </td>
        </tr>
        <tr>
          <td height="10" valign="top" class="textoBaseB">
              <div align="right">{{ form_label(form.file) }}:</div>
          </td>
          <td valign="top" class="textoBase">
              {{ form_widget(form.file) }}
          </td>
        </tr>
        <tr>
          <td height="10" valign="top" class="textoBaseB">
              <div align="right">{{ form_label(form.enable) }}:</div>
          </td>
          <td valign="top" class="textoBase">
              {{ form_widget(form.enable) }}
          </td>
        </tr>
        {% if(type == 'edit') %}
        <tr>
          <td height="10" valign="top" class="textoBaseB">
              <div align="right">Peso:</div>
          </td>
          <td valign="top" class="textoBase">
              {{ document.size }}
          </td>
        </tr>
        <tr>
          <td height="10" valign="top" class="textoBaseB">
              <div align="right">Tipo:</div>
          </td>
          <td valign="top" class="textoBase">
              <img src="{{ asset('bundles/app/images/front/'~document.getImgType()) }}" width="25" height="25">
          </td>
        </tr>
        {% endif %}
        <tr>
            <td height="10" valign="top" class="textoBaseB">
                <div align="right">Usuarios:</div>
            </td>
            <td>
                <div class="filtros" style="margin-bottom: 10px">
                    <select name="s_zona" size="1" class="celda7" style="font-family: Verdana; font-size: 11px">
                        {% for k, z in zonas %}
                            <option value="{{ k }}">{{ z }}</option>
                        {% endfor %}
                    </select>
                    <select name="s_type" size="1" class="celda7" style="font-family: Verdana; font-size: 11px">
                        {% for k, t in tipos %}
                            <option value="{{ k }}">{{ t }}</option>
                        {% endfor %}
                    </select>
                    <select name="s_province" size="1" class="celda7" style="font-family: Verdana; font-size: 11px">
                        {% for k, p in provincias %}
                            <option value="{{ k }}">{{ p }}</option>
                        {% endfor %}
                    </select>
                    <p id="s_zona" class="tags">
                        <span>Zonas: </span>
                    </p>
                    <p id="s_type" class="tags">
                        <span>Provincias: </span>
                    </p>
                    <p id="s_province" class="tags">
                        <span>Provincias: </span>
                    </p>
                </div>
                <select style="width: 100%;" name="to[]" id="multiselect_to" class="form-control" multiple="multiple">
                    {% for user in users %}
                        <option {% if user.id in user_array_document %}selected="selected"{% endif %} value="{{ user.id }}">{{ user }}</option>
                    {% endfor %}
                    {#{% for k,v in user_array_document %}#}
                        {#<option value="{{ k }}">{{ v | capitalize }}</option>#}
                    {#{% endfor %}#}
                </select>
            </td>
        </tr>
        <tr>
          <td colspan="2">
              <div align="right">
                <input name="submit" type="submit" class="celda4" style="color: #FFFFFF; font-family: arial; border: 1px solid #00693E; background-color: #00693E" value="{{label}}">                
                {{ form_widget(form._token) }}
              </div>
          </td>
        </tr>
    </table>
</form>          
{% endblock body%}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#multiselect_to').select2();
        $(document).ready(function(){
            // do something with the selects
            $('.filtros select').change(function(e){
                e.preventDefault();

                var holder = $(this).attr('name');
                var button = $(this).val();
                $(this).find('option:selected').attr('disabled', 'disabled');
                var url = '/administrador/user/list?' + holder+ '=' + button;
//                var url = '/area-privada/administrador/user/list?' + holder+ '=' + button;
                $.get(url, function(options) {
                    var values = options.concat($('#multiselect_to').val());
                    $('#multiselect_to').val(values).trigger('change');
                    addButtonInHolder(holder, button, url);
                }, 'json');
            });
            $('.filtros .tags').on('click', 'a', function(e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $(this).remove();
                $('select').find('option[value="' + $(this).text() +'"]').removeAttr('disabled');
                $.get(url, function(options) {
                    var old_values = $('#multiselect_to').val();
                    var values = old_values.filter(function(elem){
                        return options.indexOf(parseInt(elem)) === -1;
                    });
//                    console.log(values);
                    $('#multiselect_to').val(values).trigger('change');

                });
            });
        });
        function addButtonInHolder(holder, button, url){
            console.log(button);
            $("#" + holder).append($("<a>").attr('href', url).addClass('pure-button pure-button-primary').text(button));
        }
    </script>
{% endblock %}
{% block inline_css %}
.filtros .pure-button {
    margin-right: 10px;
}
{% endblock %}