{% extends "AppBundle:Admin:layout.html.twig" %}

{% block header %}
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#00693E">
    <tr>
      <td width="11"><img src="{{ asset('bundles/app/images/admin/fondo-tit1.gif') }}" width="11" height="57"></td>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="15">&nbsp;</td>
          <td class="titulo3">Lista de documentos</td>
          <td width="192"><table width="192" height="27" border="0" cellpadding="0" cellspacing="0" bgcolor="#01482B">
            <tr>
              <td width="7"><img src="{{ asset('bundles/app/images/admin/fondo-menu1.gif') }}" width="7" height="27"></td>
              <td width="34"><div align="center"><img src="{{ asset('bundles/app/images/admin/ico-crear-documentos.gif') }}" width="14" height="14"></div></td>
              <td><div align="center" class="linkverdana11BcoB">
                <div align="left"><a href="{{ path('document_new') }}" class="linkverdana11BcoB">CREAR DOCUMENTOS </a></div>
              </div></td>
              <td width="7"><img src="{{ asset('bundles/app/images/admin/fondo-menu2.gif') }}" width="7" height="27"></td>
            </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="88"><table width="88" height="27" border="0" cellpadding="0" cellspacing="0" bgcolor="#01482B">
            <tr>
              <td width="7"><img src="{{ asset('bundles/app/images/admin/fondo-menu1.gif') }}" width="7" height="27"></td>
              <td width="25"><div align="center"><img src="{{ asset('bundles/app/images/admin/ico-flecha.gif') }}" width="5" height="10"></div></td>
              <td><div align="center" class="linkverdana11BcoB">
                  <div align="left"><a href="{{ path('admin_menu') }}" class="linkverdana11BcoB">MENU</a></div>
              </div></td>
              <td width="7"><img src="{{ asset('bundles/app/images/admin/fondo-menu2.gif') }}" width="7" height="27"></td>
            </tr>
          </table></td>
          <td width="10">&nbsp;</td>
        </tr>
      </table></td>
      <td width="11"><img src="{{ asset('bundles/app/images/admin/fondo-tit2.gif') }}" width="11" height="57"></td>
    </tr>
</table>    
{% endblock header%} 


{% block search %}
<form action="{{ path('doc_list') }}" method="GET" >    
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="216">
              <table width="215" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                      <span class="textoBase">
                        <input name="s_name" type="text" value="{{ s_name }}" class="celda7" id="nombre" maxlength="256">
                      </span>
                  </td>
                  <td>
                      <input type="submit" value="BUSCAR" class="linkverdana11Verde2B" style="height: 27px; width: 80px;"/>
                  </td>
                </tr>
              </table>
          </td>
        </tr>
    </table>
</form>                
{% endblock search%}

{% block body %}
<div class="textobaseVerdeB">
    {% for flashMessage in app.session.flashbag.get('update_info') %}{{ flashMessage }}{% endfor %}
</div>
<div class="textobaseRojoB">
    {% for flashMessage in app.session.flashbag.get('delete_info') %}{{ flashMessage }}{% endfor %}
</div>
<br/>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
    {% if entities.getTotalItemCount %}
    <tr>        
      <td valign="top">  
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="9" bgcolor="#00693E"><img src="{{ asset('bundles/app/images/admin/1pix.gif') }}" width="1" height="1"></td>
            </tr>
            <tr>
                <td width="70" height="45" bgcolor="#EAE9D7" class="textobaseVerdeB"><div align="center">TIPO</div></td>
                <td width="372" bgcolor="#EAE9D7" class="textobaseVerdeB">NOMBRE</td>
                <td width="20" bgcolor="#EAE9D7" class="textobaseVerdeB">&nbsp;</td>
                <td width="75" bgcolor="#EAE9D7" class="textobaseVerdeB"><div align="center">PESO</div></td>
                <td width="75" bgcolor="#EAE9D7" class="textobaseVerdeB"><div align="center">VER</div></td>
                <td width="75" bgcolor="#EAE9D7" class="textobaseVerdeB"><div align="center">USUARIOS</div></td>
                <td width="75" bgcolor="#EAE9D7" class="textobaseVerdeB"><div align="center">EDITAR</div></td>
                <td width="75" bgcolor="#EAE9D7" class="textobaseVerdeB"><div align="center">SUSPENDER</div></td>
                <td width="75" bgcolor="#EAE9D7" class="textobaseVerdeB"><div align="center">BORRAR</div></td>
            </tr>
            <tr>
              <td colspan="9" bgcolor="#00693E"><img src="{{ asset('bundles/app/images/admin/1pix.gif') }}" width="1" height="1"></td>
            </tr>
        </table>
      </td>
    </tr>
    <tr>
        <td height="100%" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            {% for entity in entities %}    
                            <tr>
                                <td width="70" height="45">
                                    <div align="center">
                                        <img src="{{ asset('bundles/app/images/front/'~entity.getImgType()) }}" width="25" height="25">
                                    </div>
                                </td>
                                <td width="372" class="textobaseVerdeB">{{ entity.name | capitalize }} {% if not entity.enable %}<span style="color: red">(suspendido)</span>{% endif %}</td>
                                <td width="20">&nbsp;</td>
                                <td width="75" class="textoBase"><div align="center">{{ entity.size // 1000 }}KB </div></td>
                                <td width="75">
                                    <div align="center">
                                        <a target="_blanck" href="{{ asset('uploads/documents/'~entity.getPath()) }}">
                                            <img src="{{ asset('bundles/app/images/admin/ico-lupa.gif') }}" width="14" height="14">
                                        </a>    
                                    </div>
                                </td>
                                <td width="75">
                                    <div align="center">
                                        <a href="{{ path('user_list', {'document_id': entity.id}) }}">
                                            <img src="{{ asset('bundles/app/images/admin/ico-usuarios.gif') }}" title="usuarios ({{ entity.users|length }})" width="14" height="14">
                                        </a>    
                                    </div>
                                </td>    
                                <td width="75">
                                    <div align="center">
                                        <a href="{{ path('document_edit', {'id': entity.id})}}">
                                          <img src="{{ asset('bundles/app/images/admin/ico-editar.gif') }}" width="13" height="13">
                                        </a>  
                                    </div>
                                </td>
                                <td width="75">
                                    <div align="center">
                                        <a href="{{ path('document_suspend', {'id': entity.id})}}">
                                            <img src="{{ asset('bundles/app/images/admin/ico-suspender.gif') }}" width="14" height="13">
                                        </a>    
                                    </div>
                                </td>
                                <td width="75">
                                    <div align="center">
                                        <a href="{{ path('document_delete', {'id': entity.id})}}">
                                          <img src="{{ asset('bundles/app/images/admin/ico-eliminar.gif') }}" width="14" height="14">
                                        </a>  
                                    </div>
                                </td>
                            </tr>
                            <tr>
                              <td height="1" colspan="9" bgcolor="#B3B3B3"><img src="{{ asset('bundles/app/images/admin/1pix.gif') }}" width="1" height="1"></td>
                            </tr>
                            {% endfor %}
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                </table>
        </td>
    </tr>
    <tr>
      <td>
          {{ knp_pagination_render(entities) }}
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    {% else %}
    <tr>
        <td>
            <table> 
                <tr>
                    <td class="textoBase">
                        {{ message }}
                    </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr> 
    <tr>
      <td>&nbsp;</td>
    </tr>
    {% endif %}    
</table>
{% endblock body%}