<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
        <title>Gapp - Administrador de &Aacute;rea Distribuidores</title>
            <style type="text/css">
            <!--
            body {
                    margin-left: 0px;
                    margin-top: 0px;
                    margin-right: 0px;
                    margin-bottom: 0px;
            }
            -->
            </style>
        <link href="{{ asset('bundles/app/css/admin/estilos.css') }}" rel="stylesheet" type="text/css">
    </head>
<body>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F1F1F1" id="table1">
    <tr>
        <td>
            <div align="center">
                <table width="260" height="420" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                    <tr>
                        <td width="25" valign="top"><img src="{{ asset('bundles/app/images/admin/borde1.gif') }}" width="25" height="25"></td>
                        <td height="25" background="{{ asset('bundles/app/images/admin/lado1.gif') }}">&nbsp;</td>
                        <td width="25" valign="top"><img src="{{ asset('bundles/app/images/admin/borde2.gif') }}" width="25" height="25"></td>
                    </tr>
                    <tr>
                        <td background="{{ asset('bundles/app/images/admin/lado4.gif') }}">&nbsp;</td>
                        <td valign="top">
                            <table width="198" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                     <td height="40">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><div align="center"><img src="{{ asset('bundles/app/images/admin/logo.gif') }}" width="184" height="55"></div></td>
                                </tr>
                                <tr>
                                    <td height="30">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><img src="{{ asset('bundles/app/images/admin/tit-administrador1.gif') }}" width="198" height="46"></td>
                                </tr>
                                <tr>
                                    <td height="30">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        {% if error %}
                                            <div style="color: red; font-size: 11px;"><em>{{error.message }}</em></div>
                                        {% endif %}
                                        <form action="{{ path('admin_login_check') }}" method="post">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td height="20" valign="top" class="textoBase">Usuario:</td>
                                                </tr>
                                                <tr>
                                                    <td height="20" valign="top">
                                                        <span class="textoBase">
                                                            <input name="_username" type="text" class="celda" id="username" maxlength="256">
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="15" valign="top"><img src="{{ asset('bundles/app/images/admin/1pix.gif') }}" width="1" height="1"></td>
                                                </tr>
                                                <tr>
                                                    <td height="20" valign="top" class="textoBase">Contrase&ntilde;a:</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="textoBase">
                                                            <input name="_password" type="password" class="celda" id="password" maxlength="256">
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="15"><img src="{{ asset('bundles/app/images/admin/1pix.gif') }}" width="1" height="1"></td>
                                                </tr>
                                                <tr>
                                                <td>
                                                    <div align="right">
                                                        <input name="submit" type="submit" class="textoArial10Bco" style="color: #FFFFFF; font-family: arial; border: 1px solid #00693E; background-color: #00693E" value="    INGRESAR    ">
                                                        <input type="hidden" name="_target_path" value="admin_menu" />
                                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                                                    </div>
                                                </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                        <td background="{{ asset('bundles/app/images/admin/lado2.gif') }}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td valign="bottom"><img src="{{ asset('bundles/app/images/admin/borde4.gif') }}" width="25" height="25"></td>
                        <td height="25" background="{{ asset('bundles/app/images/admin/lado3.gif') }}">&nbsp;</td>
                        <td valign="bottom"><img src="{{ asset('bundles/app/images/admin/borde3.gif') }}" width="25" height="25"></td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
</body>
</html>