{% extends "AppBundle:Admin:layout.html.twig" %}

{% block header %}
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#00693E">
    <tr>
      <td width="11"><img src="{{ asset('bundles/app/images/admin/fondo-tit1.gif') }}" width="11" height="57"></td>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="15">&nbsp;</td>
          <td class="titulo3">Lista de usuarios </td>
          <td width="160"><table width="160" height="27" border="0" cellpadding="0" cellspacing="0" bgcolor="#01482B">
            <tr>
              <td width="7"><img src="{{ asset('bundles/app/images/admin/fondo-menu1.gif') }}" width="7" height="27"></td>
              <td width="34"><div align="center"><img src="{{ asset('bundles/app/images/admin/ico-crear-usuarios.gif') }}" width="14" height="14"></div></td>
              <td><div align="center" class="linkverdana11BcoB">
                <div align="left"><a href="{{ path('user_new') }}" class="linkverdana11BcoB">CREAR USUARIO </a></div>
              </div></td>
              <td width="7"><img src="{{ asset('bundles/app/images/admin/fondo-menu2.gif') }}" width="7" height="27"></td>
            </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="88"><table width="88" height="27" border="0" cellpadding="0" cellspacing="0" bgcolor="#01482B">
            <tr>
              <td width="7"><img src="{{ asset('bundles/app/images/admin/fondo-menu1.gif') }}" width="7" height="27"></td>
              <td width="25"><div align="center"><img src="{{ asset('bundles/app/images/admin/ico-flecha.gif') }}" width="5" height="10"></div></td>
              <td><div align="center" class="linkverdana11BcoB">
                  <div align="left"><a href="{{ path('admin_menu') }}" class="linkverdana11BcoB">MENU</a></div>
              </div></td>
              <td width="7"><img src="{{ asset('bundles/app/images/admin/fondo-menu2.gif') }}" width="7" height="27"></td>
            </tr>
          </table></td>
          <td width="10">&nbsp;</td>
        </tr>
      </table></td>
      <td width="11"><img src="{{ asset('bundles/app/images/admin/fondo-tit2.gif') }}" width="11" height="57"></td>
    </tr>
</table>    
{% endblock header%} 


{% block search %}
<form action="{{ path('user_list') }}" method="GET" >    
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="166">
                <select name="s_zona" size="1" class="celda7" style="font-family: Verdana; font-size: 11px" onChange="showtext(scrollbars=yes,width=600,height=500 )">
                    {% for k, z in zona %}
                        <option {%if(s_zona == k) %} selected="selected" {% endif %} value="{{ k }}">{{ z }}</option>
                    {% endfor %}
                </select>
          </td>
          <td width="168">
                <select name="s_type" size="1" class="celda7" style="font-family: Verdana; font-size: 11px" onChange="showtext(scrollbars=yes,width=600,height=500 )">
                    {% for k, t in type %}
                        <option {%if(s_type == k) %} selected="selected" {% endif %} value="{{ k }}">{{ t }}</option>
                    {% endfor %}
                </select>
          </td>
          <td width="166">
              <select name="s_province" size="1" class="celda7" style="font-family: Verdana; font-size: 11px" onChange="showtext(scrollbars=yes,width=600,height=500 )">
                    {% for k, p in province %}
                        <option {%if(s_province == k) %} selected="selected" {% endif %} value="{{ k }}">{{ p }}</option>
                    {% endfor %}
              </select>
          </td>
          <td width="216">
              <table width="215" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                      <span class="textoBase">
                        <input name="s_name" type="text" value="{{ s_name }}" class="celda7" id="nombre" maxlength="256">
                      </span>
                  </td>
                  <td>
                      <input type="submit" value="BUSCAR" class="linkverdana11Verde2B" style="margin-left: 50px; height: 27px; width: 80px;"/>
                      <input type="hidden" value="{{ document_id }}" name="document_id" />
                  </td>
                </tr>
              </table>
          </td>
        </tr>
    </table>
</form>                
{% endblock search%}

{% block body %}
<div class="textobaseVerdeB">
    {% for flashMessage in app.session.flashbag.get('update_info') %}{{ flashMessage }}{% endfor %}
</div>
<div class="textobaseRojoB">
    {% for flashMessage in app.session.flashbag.get('delete_info') %}{{ flashMessage }}{% endfor %}
</div>
<br/>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
    {% if entities.getTotalItemCount %}
    <tr>        
      <td valign="top">  
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="11" bgcolor="#00693E"><img src="{{ asset('bundles/app/images/admin/1pix.gif') }}" width="1" height="1"></td>
            </tr>
            <tr>
              <td width="154" bgcolor="#EAE9D7" class="textobaseVerdeB">NOMBRE</td>
              <td width="5" bgcolor="#EAE9D7" class="textobaseVerdeB">&nbsp;</td>
              <td width="89" bgcolor="#EAE9D7" class="textobaseVerdeB">ZONA</td>
              <td width="120" bgcolor="#EAE9D7" class="textobaseVerdeB">PROVINCIA</td>
              <td width="16" bgcolor="#EAE9D7" class="textobaseVerdeB">&nbsp;</td>
              <td width="224" bgcolor="#EAE9D7" class="textobaseVerdeB">E-MAIL</td>
              <td width="16" bgcolor="#EAE9D7" class="textobaseVerdeB">&nbsp;</td>
              <td width="96" bgcolor="#EAE9D7" class="textobaseVerdeB"><div align="left">TIPO</div></td>
              <td width="65" bgcolor="#EAE9D7" class="textobaseVerdeB"><div align="center">EDITAR</div></td>
              <td width="63" bgcolor="#EAE9D7" class="textobaseVerdeB"><div align="center">BORRAR</div></td>
            </tr>
            <tr>
              <td colspan="11" bgcolor="#00693E"><img src="{{ asset('bundles/app/images/admin/1pix.gif') }}" width="1" height="1"></td>
            </tr>
        </table>
      </td>
    </tr>
    <tr>
        <td height="100%" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            {% for entity in entities %}
                            <tr>
                              <td width="45" height="35"><div align="center">
                                <input type="checkbox" name="checkbox2" value="checkbox">
                              </div></td>
                              <td width="150" class="textoBase">{{ entity.lastname | capitalize }} {{ entity.firstname | capitalize }} <br></td>
                              <td width="6" class="textoBase">&nbsp;</td>
                              <td width="89"><span class="textoBase">{{ entity.zona in zona ? zona[entity.zona] : entity.zona }}</span></td>
                              <td width="120" class="textoBase">{{ province[entity.province] }}</td>
                              <td width="15">&nbsp;</td>
                              <td width="225"><a href="mailto:{{ entity.email }}" class="linkverdana11Gris2">{{ entity.email }}</a></td>
                              <td width="17">&nbsp;</td>
                              <td width="96" class="textoBase">{{ entity.types in type ? type[entity.types] : entity.types }}</td>
                              <td width="65">
                                  <div align="center">
                                      <a href="{{ path('user_edit', {'id': entity.id})}}">
                                        <img src="{{ asset('bundles/app/images/admin/ico-editar.gif') }}" width="13" height="13">
                                      </a>  
                                  </div>
                              </td>
                              <td width="62">
                                  <div align="center">
                                      <a href="{{ path('user_delete', {'id': entity.id})}}">
                                        <img src="{{ asset('bundles/app/images/admin/ico-eliminar.gif') }}" width="14" height="14">
                                      </a>  
                                  </div>
                              </td>
                            </tr>
                            <tr>
                              <td height="1" colspan="11" bgcolor="#B3B3B3"><img src="{{ asset('bundles/app/images/admin/1pix.gif') }}" width="1" height="1"></td>
                            </tr>
                            {% endfor %}
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                </table>
        </td>
    </tr>
    <tr>
      <td>
          {{ knp_pagination_render(entities) }}
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    {% else %}
    <tr>
        <td>
            <table> 
                <tr>
                    <td class="textoBase">
                        {{ message }}
                    </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr> 
    <tr>
      <td>&nbsp;</td>
    </tr>
    {% endif %}    
</table>
{% endblock body%}
